<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/mastertodo/mystyles.css">
    <link rel="stylesheet" href="../static/mastertodo/styles.css">
    <title>Todo List</title>
</head>
<body class="gradient2">

    <div class='container'>
        <h3 class="center-text margin-40">Nothing is more effective than consistency when it comes to making your company, or your performance, stand out.</h3>
    </div>

    <div class="container margin-bottom">
        <div class="row">
            <div class="col margin-60 margin-bottom">
                <h3 class="center-text margin-60">Things Todo</h3>
                    <ul class="list-group">
                      {% for i in task %}
                            <form action="{{ url_for('done', no=i.id) }}" method="post">
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="submit" name="listGroupRadio" value="" id="firstRadio" checked>
                                    <label class="form-check-label " for="firstRadio">{{ i.task }}</label>
                                  </li>
                            </form>
                      {% endfor %}
                      <br><br>
                      <li class="list-group">
                        <!-- <label class="form-check-label margin-side">Add Your task here </label> -->
                        <form action="{{ url_for('add') }}" method="post">
                            <input type="text" class="form-control " aria-label="Text input with segmented dropdown button" name="task" placeholder="Add your todo here!">
                            <button type="submit" class="btn btn-outline-secondary margin-40">Add</button>
                        </form>
                      </li>
                      </ul>
            </div>
            <div class="col margin-100 margin-bottom">
                <h3 class="center-text margin-60" >Things You've Done</h3>
                <ul class="list-group">
                    {% for i in done_task %}
                              <li class="list-group-item">
                                  <label class="form-check-label " for="firstRadio">{{ i.task }}</label>
                                </li>
                    {% endfor %}
                    </ul>
            <form action="{{ url_for('remove') }}" method="post">
                <button type="submit" class="btn btn-outline-secondary margin-40"> Remove All </button>
            </form>
                
            </div>
        </div>

        </div>
    </div>



<!-- {% include 'footer.html' %} -->
</body>
</html>